<form method="post" enctype="application/x-www-form-urlencoded" class="form-signin" role="form"
 (submit)="auth()">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input name="email" maxlength="255" type="email" class="form-control"
     placeholder="Email address" required autofocus [(ngModel)]="email">
    <input name="password" maxlength="255" type="password" class="form-control" placeholder="Password"
     required [(ngModel)]="password">
    <label class="checkbox">
        <input type="checkbox" value="remember-me"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>